In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('harga_rumahh.csv')
dataset

      sqft_living  bathrooms  bedrooms  floors          price
0            1340       1.50       3.0     1.5  313000.000000
1            1930       2.00       3.0     1.0  342000.000000
2            2000       2.25       3.0     1.0  420000.000000
3            1940       2.50       4.0     1.0  550000.000000
4             880       1.00       2.0     1.0  490000.000000
...           ...        ...       ...     ...            ...
4306         1510       1.75       3.0     1.0  308166.666667
4307         1460       2.50       3.0     2.0  534333.333333
4308         3010       2.50       3.0     2.0  416904.166667
4309         2090       2.00       4.0     1.0  203400.000000
4310         1490       2.50       3.0     2.0  220600.000000

[4311 rows x 5 columns]

In [3]:
dataset.head()

   sqft_living  bathrooms  bedrooms  floors     price
0         1340       1.50       3.0     1.5  313000.0
1         1930       2.00       3.0     1.0  342000.0
2         2000       2.25       3.0     1.0  420000.0
3         1940       2.50       4.0     1.0  550000.0
4          880       1.00       2.0     1.0  490000.0

In [4]:
dataset.head(10)

   sqft_living  bathrooms  bedrooms  floors     price
0         1340       1.50       3.0     1.5  313000.0
1         1930       2.00       3.0     1.0  342000.0
2         2000       2.25       3.0     1.0  420000.0
3         1940       2.50       4.0     1.0  550000.0
4          880       1.00       2.0     1.0  490000.0
5         1350       2.00       2.0     1.0  335000.0
6         2710       2.50       4.0     2.0  482000.0
7         2430       2.50       3.0     1.0  452500.0
8         1520       2.00       4.0     1.5  640000.0
9         1710       1.75       3.0     1.0  463000.0

In [5]:
dataset.tail()

      sqft_living  bathrooms  bedrooms  floors          price
4306         1510       1.75       3.0     1.0  308166.666667
4307         1460       2.50       3.0     2.0  534333.333333
4308         3010       2.50       3.0     2.0  416904.166667
4309         2090       2.00       4.0     1.0  203400.000000
4310         1490       2.50       3.0     2.0  220600.000000

In [6]:
# data preprocessing

# cek jika ada data null atau NaN
dataset.isnull().sum()

sqft_living    0
bathrooms      0
bedrooms       0
floors         0
price          0
dtype: int64

In [7]:
# cek data terduplikat
dataset.duplicated().sum()

10

In [8]:
# drop data duplikat
dataset = dataset.drop_duplicates()
print(dataset.duplicated().sum())

0

In [9]:
x = np.asarray(dataset.drop(['price'], axis = 1), dtype=np.int32)
y = np.asarray(dataset['price'], dtype=np.int32)

In [10]:
x.shape

(4301, 4)

In [11]:
import collections
collections.Counter(y)

Counter({300000: 42,
         400000: 31,
         600000: 29,
         450000: 29,
         440000: 28,
         550000: 27,
         435000: 27,
         415000: 27,
         250000: 27,
         350000: 27,
         475000: 26,
         530000: 26,
         525000: 26,
         330000: 25,
         425000: 24,
         500000: 24,
         235000: 23,
         385000: 23,
         405000: 22,
         325000: 22,
         345000: 22,
         280000: 22,
         375000: 22,
         320000: 22,
         650000: 21,
         410000: 21,
         285000: 20,
         560000: 20,
         535000: 20,
         430000: 19,
         310000: 19,
         210000: 19,
         575000: 19,
         540000: 19,
         625000: 18,
         260000: 18,
         580000: 18,
         270000: 18,
         480000: 18,
         700000: 18,
         675000: 17,
         315000: 17,
         295000: 17,
         245000: 17,
         455000: 17,
         255000: 17,
         465000: 17,
         850000: 17,
         725000: 17,
         395000: 17,
         335000: 16,
         275000: 16,
         390000: 16,
         460000: 16,
         230000: 16,
         660000: 16,
         355000: 16,
         490000: 15,
         750000: 15,
         495000: 15,
         485000: 15,
         620000: 15,
         800000: 15,
         585000: 15,
         515000: 15,
         360000: 15,
         380000: 15,
         225000: 15,
         265000: 15,
         370000: 15,
         565000: 14,
         445000: 14,
         305000: 14,
         545000: 14,
         420000: 13,
         640000: 13,
         875000: 13,
         615000: 12,
         175000: 12,
         510000: 12,
         215000: 12,
         365000: 11,
         690000: 11,
         505000: 11,
         950000: 11,
         665000: 11,
         240000: 11,
         200000: 11,
         499950: 10,
         630000: 10,
         470000: 10,
         740000: 10,
         340000: 10,
         1050000: 10,
         695000: 10,
         605000: 10,
         555000: 9,
         900000: 9,
         780000: 9,
         570000: 9,
         499000: 9,
         610000: 9,
         860000: 9,
         599000: 9,
         290000: 9,
         840000: 9,
         720000: 9,
         735000: 9,
         680000: 9,
         775000: 8,
         220000: 8,
         685000: 8,
         1150000: 8,
         402000: 8,
         205000: 8,
         645000: 8,
         925000: 8,
         760000: 8,
         150000: 8,
         790000: 7,
         670000: 7,
         234000: 7,
         160000: 7,
         437000: 7,
         835000: 7,
         195000: 7,
         590000: 7,
         635000: 7,
         715000: 7,
         342000: 6,
         549000: 6,
         770000: 6,
         890000: 6,
         312000: 6,
         520000: 6,
         218000: 6,
         253000: 6,
         249000: 6,
         595000: 6,
         930000: 6,
         765000: 6,
         254000: 6,
         248000: 6,
         339000: 6,
         975000: 6,
         870000: 6,
         306000: 6,
         190000: 6,
         799000: 6,
         810000: 6,
         710000: 6,
         1100000: 6,
         820000: 6,
         399950: 6,
         482000: 5,
         284000: 5,
         785000: 5,
         755000: 5,
         206000: 5,
         329950: 5,
         830000: 5,
         568000: 5,
         185000: 5,
         782000: 5,
         542500: 5,
         368000: 5,
         502000: 5,
         317000: 5,
         299000: 5,
         356000: 5,
         458000: 5,
         349950: 5,
         180000: 5,
         429000: 5,
         479000: 5,
         452000: 5,
         309000: 5,
         299950: 5,
         815000: 5,
         749000: 5,
         337000: 5,
         427000: 5,
         332000: 5,
         382500: 4,
         437500: 4,
         805000: 4,
         287000: 4,
         418000: 4,
         397000: 4,
         503000: 4,
         749950: 4,
         492000: 4,
         339950: 4,
         100000: 4,
         712000: 4,
         569000: 4,
         349000: 4,
         438000: 4,
         583000: 4,
         536000: 4,
         341000: 4,
         302000: 4,
         910000: 4,
         383000: 4,
         289000: 4,
         373000: 4,
         239950: 4,
         464000: 4,
         223000: 4,
         613000: 4,
         1000000: 4,
         263000: 4,
         433000: 4,
         462000: 4,
         588000: 4,
         307000: 4,
         599950: 4,
         259000: 4,
         439000: 4,
         374000: 4,
         895000: 4,
         589000: 4,
         970000: 4,
         556000: 4,
         655000: 4,
         432000: 4,
         552000: 4,
         379000: 4,
         880000: 4,
         304000: 4,
         268000: 4,
         267000: 4,
         672500: 4,
         471000: 4,
         1025000: 4,
         519000: 4,
         489000: 4,
         795000: 4,
         165000: 4,
         279000: 4,
         554000: 4,
         825000: 4,
         507000: 4,
         905000: 4,
         313000: 3,
         463000: 3,
         419000: 3,
         367500: 3,
         403000: 3,
         328000: 3,
         501000: 3,
         1030000: 3,
         379950: 3,
         478000: 3,
         561000: 3,
         469000: 3,
         488000: 3,
         513000: 3,
         562000: 3,
         387000: 3,
         246000: 3,
         314500: 3,
         581000: 3,
         352000: 3,
         940000: 3,
         209950: 3,
         980000: 3,
         258000: 3,
         266000: 3,
         358000: 3,
         538000: 3,
         229000: 3,
         494000: 3,
         920000: 3,
         402500: 3,
         532000: 3,
         566000: 3,
         376000: 3,
         324000: 3,
         885000: 3,
         372500: 3,
         449500: 3,
         155000: 3,
         546000: 3,
         723000: 3,
         543000: 3,
         1120000: 3,
         802000: 3,
         955000: 3,
         592500: 3,
         744000: 3,
         312500: 3,
         417000: 3,
         619000: 3,
         451000: 3,
         446000: 3,
         611000: 3,
         732000: 3,
         411000: 3,
         359950: 3,
         461000: 3,
         333000: 3,
         319950: 3,
         442500: 3,
         477000: 3,
         518000: 3,
         243000: 3,
         326000: 3,
         219950: 3,
         1075000: 3,
         349900: 3,
         359000: 3,
         449950: 3,
         347000: 3,
         276000: 3,
         468000: 3,
         399000: 3,
         389000: 3,
         960000: 3,
         224000: 3,
         999000: 3,
         236000: 3,
         242000: 3,
         739000: 3,
         264000: 3,
         412000: 3,
         436500: 3,
         659000: 3,
         642000: 3,
         289950: 3,
         366000: 3,
         544000: 3,
         1070000: 3,
         327500: 3,
         646000: 3,
         371000: 3,
         170000: 3,
         547000: 3,
         563500: 3,
         558000: 3,
         915000: 3,
         1010000: 3,
         386000: 3,
         657500: 3,
         1095000: 3,
         594000: 3,
         506000: 3,
         378000: 3,
         1080000: 3,
         453000: 3,
         257500: 3,
         1020000: 3,
         268971: 3,
         452500: 2,
         626000: 2,
         612500: 2,
         604000: 2,
         439950: 2,
         491500: 2,
         628000: 2,
         531000: 2,
         831000: 2,
         627000: 2,
         865000: 2,
         232000: 2,
         524000: 2,
         309950: 2,
         249950: 2,
         509900: 2,
         353000: 2,
         609000: 2,
         606000: 2,
         1135000: 2,
         736000: 2,
         272000: 2,
         362000: 2,
         379900: 2,
         563000: 2,
         404000: 2,
         533000: 2,
         191000: 2,
         979000: 2,
         526000: 2,
         651000: 2,
         428000: 2,
         1110000: 2,
         379500: 2,
         239900: 2,
         537500: 2,
         262000: 2,
         647500: 2,
         985000: 2,
         201500: 2,
         851000: 2,
         252500: 2,
         549900: 2,
         1015000: 2,
         522000: 2,
         751000: 2,
         947500: 2,
         110000: 2,
         746000: 2,
         369000: 2,
         523000: 2,
         591000: 2,
         90000: 2,
         319000: 2,
         322500: 2,
         542000: 2,
         364000: 2,
         316000: 2,
         486000: 2,
         139000: 2,
         607500: 2,
         498000: 2,
         197500: 2,
         1085000: 2,
         423000: 2,
         839000: 2,
         343000: 2,
         467000: 2,
         512500: 2,
         497000: 2,
         619500: 2,
         174500: 2,
         551000: 2,
         352500: 2,
         762000: 2,
         241000: 2,
         602000: 2,
         482500: 2,
         869000: 2,
         730000: 2,
         192500: 2,
         639000: 2,
         387500: 2,
         268500: 2,
         1125000: 2,
         699000: 2,
         598000: 2,
         194000: 2,
         507500: 2,
         329900: 2,
         329000: 2,
         1065000: 2,
         199000: 2,
         442000: 2,
         249900: 2,
         299900: 2,
         219900: 2,
         657000: 2,
         168000: 2,
         398000: 2,
         622500: 2,
         408000: 2,
         321000: 2,
         902000: 2,
         399500: 2,
         416000: 2,
         945000: 2,
         132500: 2,
         641000: 2,
         464600: 2,
         244000: 2,
         334000: 2,
         346000: 2,
         529000: 2,
         688000: 2,
         326500: 2,
         457500: 2,
         282000: 2,
         587000: 2,
         274950: 2,
         293000: 2,
         537000: 2,
         432500: 2,
         189000: 2,
         745000: 2,
         277000: 2,
         363000: 2,
         264950: 2,
         472000: 2,
         246500: 2,
         459000: 2,
         965000: 2,
         661000: 2,
         653000: 2,
         809000: 2,
         1035000: 2,
         199950: 2,
         687000: 2,
         327000: 2,
         568500: 2,
         193000: 2,
         548000: 2,
         562100: 2,
         212500: 2,
         324950: 2,
         603500: 2,
         453500: 2,
         989000: 2,
         427500: 2,
         129000: 2,
         742000: 2,
         229500: 2,
         539000: 2,
         648000: 2,
         279950: 2,
         269000: 2,
         499500: 2,
         292000: 2,
         237000: 2,
         456000: 2,
         584000: 2,
         809950: 2,
         253500: 2,
         589500: 2,
         567500: 2,
         378500: 2,
         579000: 2,
         229950: 2,
         559000: 2,
         649950: 2,
         571000: 2,
         659500: 2,
         183000: 2,
         392000: 2,
         608000: 2,
         589900: 2,
         371500: 2,
         276900: 2,
         527000: 2,
         354000: 2,
         381000: 2,
         148000: 2,
         476000: 2,
         578000: 2,
         342500: 2,
         299995: 2,
         448000: 2,
         489950: 2,
         845000: 2,
         454000: 2,
         883000: 2,
         459950: 2,
         718500: 2,
         397500: 2,
         269950: 2,
         576000: 2,
         963000: 2,
         667000: 2,
         638000: 2,
         632500: 2,
         616000: 2,
         669000: 2,
         198000: 2,
         269500: 2,
         274500: 2,
         403500: 2,
         429900: 2,
         221000: 2,
         899000: 2,
         232500: 2,
         441000: 2,
         812000: 2,
         291000: 2,
         995000: 2,
         623000: 2,
         449000: 2,
         286000: 2,
         396500: 2,
         362500: 2,
         687500: 2,
         819000: 2,
         252000: 2,
         589950: 2,
         631500: 2,
         739900: 2,
         308000: 2,
         1140000: 2,
         346500: 2,
         557500: 2,
         663000: 2,
         202000: 2,
         459500: 2,
         443000: 2,
         237227: 2,
         237333: 2,
         148612: 2,
         135333: 2,
         440825: 2,
         83300: 2,
         673476: 2,
         282508: 2,
         287919: 2,
         723243: 2,
         592105: 2,
         132250: 2,
         229629: 2,
         210614: 2,
         677099: 2,
         588500: 1,
         242500: 1,
         257950: 1,
         698000: 1,
         287200: 1,
         308500: 1,
         407500: 1,
         445700: 1,
         838000: 1,
         459990: 1,
         553000: 1,
         379880: 1,
         331950: 1,
         783500: 1,
         705380: 1,
         800866: 1,
         823000: 1,
         541125: 1,
         384900: 1,
         406100: 1,
         736500: 1,
         787000: 1,
         1090000: 1,
         657100: 1,
         525888: 1,
         398750: 1,
         449250: 1,
         618500: 1,
         487585: 1,
         631625: 1,
         366750: 1,
         416286: 1,
         419190: 1,
         712198: 1,
         329350: 1,
         279900: 1,
         219000: 1,
         407000: 1,
         136500: 1,
         313950: 1,
         762300: 1,
         484000: 1,
         725126: 1,
         483500: 1,
         655500: 1,
         197000: 1,
         369950: 1,
         776000: 1,
         519950: 1,
         599999: 1,
         758000: 1,
         248500: 1,
         705000: 1,
         618080: 1,
         314950: 1,
         361280: 1,
         480500: 1,
         226500: 1,
         409500: 1,
         794154: 1,
         1040000: 1,
         417250: 1,
         753888: 1,
         134000: 1,
         553650: 1,
         559950: 1,
         719000: 1,
         325900: 1,
         1039000: 1,
         207000: 1,
         489990: 1,
         716500: 1,
         228000: 1,
         636000: 1,
         868500: 1,
         347500: 1,
         297950: 1,
         543200: 1,
         413450: 1,
         424500: 1,
         988500: 1,
         321950: 1,
         441750: 1,
         839900: 1,
         224500: 1,
         280950: 1,
         303500: 1,
         323000: 1,
         382000: 1,
         536500: 1,
         742500: 1,
         511555: 1,
         311100: 1,
         491300: 1,
         481450: 1,
         234950: 1,
         251000: 1,
         833000: 1,
         336900: 1,
         769900: 1,
         557000: 1,
         212000: 1,
         394950: 1,
         842500: 1,
         453246: 1,
         927000: 1,
         876650: 1,
         582000: 1,
         647000: 1,
         201000: 1,
         870300: 1,
         788000: 1,
         315275: 1,
         156000: 1,
         192000: 1,
         211000: 1,
         734200: 1,
         301500: 1,
         1033888: 1,
         819900: 1,
         757000: 1,
         267345: 1,
         777000: 1,
         799200: 1,
         771000: 1,
         717000: 1,
         1105000: 1,
         413000: 1,
         287600: 1,
         257200: 1,
         372220: 1,
         337500: 1,
         582500: 1,
         489200: 1,
         405100: 1,
         372977: 1,
         702500: 1,
         766950: 1,
         682000: 1,
         394475: 1,
         511000: 1,
         966000: 1,
         305495: 1,
         633100: 1,
         267800: 1,
         1058000: 1,
         707000: 1,
         773000: 1,
         256883: 1,
         252350: 1,
         465750: 1,
         582800: 1,
         451555: 1,
         412500: 1,
         395300: 1,
         342400: 1,
         749400: 1,
         316500: 1,
         204700: 1,
         689900: 1,
         580050: 1,
         174950: 1,
         803100: 1,
         344000: 1,
         828950: 1,
         386380: 1,
         914500: 1,
         819995: 1,
         252700: 1,
         408200: 1,
         363750: 1,
         724800: 1,
         862500: 1,
         282613: 1,
         306500: 1,
         238000: 1,
         522500: 1,
         730100: 1,
         314000: 1,
         377500: 1,
         804995: 1,
         297000: 1,
         575550: 1,
         534640: 1,
         487250: 1,
         366500: 1,
         256500: 1,
         413500: 1,
         386591: 1,
         524950: 1,
         247000: 1,
         296500: 1,
         141800: 1,
         251200: 1,
         110700: 1,
         433500: 1,
         367000: 1,
         572500: 1,
         137000: 1,
         818000: 1,
         298450: 1,
         271310: 1,
         483945: 1,
         519900: 1,
         396675: 1,
         426000: 1,
         792000: 1,
         978000: 1,
         384000: 1,
         120750: 1,
         879950: 1,
         345600: 1,
         953007: 1,
         772000: 1,
         329995: 1,
         409316: 1,
         535800: 1,
         189650: 1,
         420850: 1,
         288400: 1,
         619420: 1,
         567000: 1,
         385500: 1,
         368250: 1,
         1003000: 1,
         299800: 1,
         691000: 1,
         256750: 1,
         332500: 1,
         668750: 1,
         344500: 1,
         389999: 1,
         318989: 1,
         396450: 1,
         413800: 1,
         334990: 1,
         1130000: 1,
         373500: 1,
         494400: 1,
         926300: 1,
         604700: 1,
         361000: 1,
         235750: 1,
         389950: 1,
         254500: 1,
         348580: 1,
         431500: 1,
         677000: 1,
         635700: 1,
         648360: 1,
         353250: 1,
         1051000: 1,
         80000: 1,
         662990: 1,
         149000: 1,
         527550: 1,
         377691: 1,
         648475: 1,
         465425: 1,
         554820: 1,
         607000: 1,
         661254: 1,
         799950: 1,
         467100: 1,
         670500: 1,
         788600: 1,
         388000: 1,
         372000: 1,
         496700: 1,
         440500: 1,
         355300: 1,
         172500: 1,
         326100: 1,
         949880: 1,
         730001: 1,
         751750: 1,
         344950: 1,
         569950: 1,
         283200: 1,
         292050: 1,
         295832: 1,
         857000: 1,
         967500: 1,
         527500: 1,
         994000: 1,
         455600: 1,
         312900: 1,
         754950: 1,
         263900: 1,
         1149000: 1,
         450800: 1,
         544500: 1,
         681000: 1,
         898000: 1,
         245100: 1,
         266200: 1,
         244615: 1,
         968000: 1,
         438750: 1,
         479900: 1,
         840500: 1,
         681716: 1,
         168500: 1,
         510250: 1,
         157500: 1,
         124740: 1,
         474800: 1,
         253400: 1,
         186950: 1,
         267500: 1,
         145000: 1,
         672000: 1,
         750500: 1,
         266500: 1,
         231000: 1,
         635200: 1,
         329932: 1,
         602500: 1,
         475300: 1,
         658000: 1,
         83000: 1,
         650880: 1,
         196440: 1,
         384950: 1,
         322000: 1,
         459900: 1,
         645500: 1,
         825500: 1,
         499431: 1,
         919204: 1,
         538888: 1,
         693000: 1,
         559900: 1,
         439900: 1,
         629000: 1,
         789000: 1,
         668500: 1,
         725995: 1,
         686000: 1,
         440150: 1,
         465500: 1,
         472500: 1,
         439800: 1,
         391000: 1,
         298000: 1,
         328500: 1,
         712500: 1,
         689800: 1,
         785200: 1,
         474900: 1,
         941500: 1,
         713250: 1,
         580135: 1,
         654950: 1,
         409950: 1,
         239000: 1,
         847000: 1,
         375900: 1,
         718000: 1,
         222400: 1,
         272500: 1,
         363990: 1,
         427874: 1,
         240500: 1,
         658588: 1,
         1126000: 1,
         364950: 1,
         135000: 1,
         119500: 1,
         837500: 1,
         161700: 1,
         760500: 1,
         392500: 1,
         572000: 1,
         907500: 1,
         250500: 1,
         411715: 1,
         418500: 1,
         261000: 1,
         791000: 1,
         767450: 1,
         586500: 1,
         798000: 1,
         297500: 1,
         214100: 1,
         466500: 1,
         466800: 1,
         359800: 1,
         257000: 1,
         355500: 1,
         605004: 1,
         886000: 1,

In [12]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, 
                                                    y, 
                                                    test_size=0.3, 
                                                    random_state=0)

In [13]:
from sklearn.neural_network import MLPClassifier

model = MLPClassifier(hidden_layer_sizes=(150,1), 
                      max_iter=450, 
                      random_state=1)

model.fit(x_train, y_train)

MLPClassifier(hidden_layer_sizes=(150, 1), max_iter=450, random_state=1)

In [14]:
from sklearn.metrics import accuracy_score

y_pred = model.predict(x_train)
print(accuracy_score(y_train, y_pred))

y_pred_test = model.predict(x_test)
print(accuracy_score(y_test, y_pred_test))

0.010963455149501661
0.006971340046475601

In [15]:
man1 = np.array([[1340, 1.50, 3.0, 1.5]])
print(model.predict(man1))

[300000]

In [16]:
from sklearn.model_selection import GridSearchCV

params = {
    'hidden_layer_sizes' : [(150,100,50)],
    'max_iter' : [500],
    'activation' : ['identity', 'logistic', 'tanh', 'relu'],
    'solver' : ['lbfgs', 'sgd', 'adam'],
    'learning_rate' : ['constant', 'invscaling', 'adaptive'],
    'random_state' : [1]
}

grid_search = GridSearchCV(estimator=MLPClassifier(),
                          param_grid = params,
                          n_jobs = 3,
                          verbose = 1,
                          scoring = 'accuracy')

grid_search.fit(x_train, y_train)

Fitting 5 folds for each of 36 candidates, totalling 180 fits

C:\Users\thioo\anaconda3\Lib\site-packages\sklearn\model_selection\_split.py:725: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(
C:\Users\thioo\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:425: FitFailedWarning:
15 fits failed out of a total of 180.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\thioo\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 732, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\thioo\anaconda3\Lib\site-packages\sklearn\base.py", line 1151, in wrapper
    return fit_method(estimator, *args, **kwargs)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\thioo\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 753, in fit
    return self._fit(X, y, incremental=False)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\thioo\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py", line 496, in _fit
    raise ValueError(
ValueError: Solver produced non-finite parameter weights. The input data may contain large values and need to be preprocessed.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\thioo\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:976: UserWarning: One or more of the test scores are non-finite: [0.01162791        nan 0.00232558 0.01162791        nan 0.00232558
 0.01162791        nan 0.00232558 0.01096346 0.01096346 0.00996678
 0.01096346 0.00265781 0.00996678 0.01096346 0.01096346 0.00996678
 0.01129568 0.01096346 0.010299   0.01129568 0.         0.010299
 0.01129568 0.01096346 0.010299   0.01096346 0.01096346 0.01096346
 0.01096346 0.00066445 0.01096346 0.01096346 0.01096346 0.01096346]
  warnings.warn(
C:\Users\thioo\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:546: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

GridSearchCV(estimator=MLPClassifier(), n_jobs=3,
             param_grid={'activation': ['identity', 'logistic', 'tanh', 'relu'],
                         'hidden_layer_sizes': [(150, 100, 50)],
                         'learning_rate': ['constant', 'invscaling',
                                           'adaptive'],
                         'max_iter': [500], 'random_state': [1],
                         'solver': ['lbfgs', 'sgd', 'adam']},
             scoring='accuracy', verbose=1)

In [19]:
print(grid_search.best_score_)

0.011627906976744184

In [20]:
print(grid_search.best_estimator_.get_params())

{'activation': 'identity', 'alpha': 0.0001, 'batch_size': 'auto', 'beta_1': 0.9, 'beta_2': 0.999, 'early_stopping': False, 'epsilon': 1e-08, 'hidden_layer_sizes': (150, 100, 50), 'learning_rate': 'constant', 'learning_rate_init': 0.001, 'max_fun': 15000, 'max_iter': 500, 'momentum': 0.9, 'n_iter_no_change': 10, 'nesterovs_momentum': True, 'power_t': 0.5, 'random_state': 1, 'shuffle': True, 'solver': 'lbfgs', 'tol': 0.0001, 'validation_fraction': 0.1, 'verbose': False, 'warm_start': False}